* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
  
  :root{
    background-color: red;
    color: #fff;
  }
  body {
    background-color:#075985;
    overflow-x: hidden;
  }
  .header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: #075985;
  }
  .heading-1{
    color:black;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 8rem 2rem 2rem 6rem;
  }
  
.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.search-bar {
  padding: 10px 15px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border-color: #0077ff;
}
